@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
header{
background-color: rgb(36, 36, 36);
}
header>a{
text-decoration: none;
color:rgb(230, 46, 45);
display: inline-block;
} 
header>a>img{
    float: left;
    width: 100px;
    height: 100px;
} 
#web-name{
position: relative;
left: 300px;
padding-top: 0; 
font-size: 40px;
font-family: 'Fredoka One', cursive;
margin: 0;
text-decoration: none;
color:rgb(230, 46, 45);
display: inline-block;
}
#logo{
    position: relative;
    left :1%;
    top:0%;
    bottom: 0%;
    width: 100px;
    height: 100px;
}
main{
    background-image:url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 36%;
}
form{
    display: block;
    color: red;
    border-radius: 10px;
    max-width: 40%;
    background-color: rgb(172, 188, 201);
}
form>label{
margin-right: 2%;
}
footer{
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: rgb(230, 46, 45);
background-color: rgb(36, 36, 36);

}